.comments-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 3px 25px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}

.comment-input {
    width: 90%;
    padding: 15px 0;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    border-top: 1px solid rgb(194, 189, 189);
    border-bottom: 1px solid rgb(194, 189, 189);
}

.users {
    padding-right: 5px;
}