.header-post {
    display: flex;
    align-items: center;
}

.border-wrapper {
    /* border: 1px solid rgb(201, 198, 198); */
    margin-bottom: 15px;
}

.thumbnails {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 20px;
}

.likesection-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 25px;
}

.like-icons i {
    padding: 10px 10px 7px 0;
}

.like-icons i:hover {
    color: red;
}