.header-post {
    display: flex;
    align-items: center;
}

.border-wrapper {
    border: 1px solid rgb(201, 198, 198);
    margin-bottom: 15px;
}

.thumbnails {
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 20px;
}

.likes {
    text-align: left;
}

input {
    width: 95%;
    padding: 15px 0;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-top: 1px solid rgb(194, 189, 189);
}